
.dropdown:hover > .dropdown-menu , .dropend:hover > .dropdown-menu  {
    display: block;
    padding: 5px;
  }

  .dropdown .dropdown-menu , .dropend > .dropdown-menu  {
    padding: 5px;
    max-width: 95vw;
  }


@media screen and (max-width:500px) {
    
  .dropdown .dropdown-menu , .dropend > .dropdown-menu  {
    padding: 3px;
    font-size: 14px;
  }

}





  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }

  .dropdown .dropdown-menu {
    display: none;
  }







  .dropdownx {
    display: block !important;
    padding: 5px !important;
  }



  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }

.logoManger{
  height: 60px;
  border-radius: 4px;
}


.h19{
  max-height:40px;
  display: none;
}
@media screen and (max-width: 600px) {
  .logoManger{
    display: none;
  }
  .h19{
    display: block;
  }
}

.navbar{
  padding: 5px !important;
}

.custom{
    color: rgb(255, 255, 255) !important;
   
}

.custom:hover{
    cursor: pointer;
}

.dropdown-item{
    scale: 95%;
    margin: 0px;
    padding: 0px;
    padding-left: 8px;
}

@media screen and (min-width:1000px){
    .align{
    justify-content: space-between;
   
    } 
   
   
}

.colorbg{
    background-color: rgb(26,6,78);
  
}


.colorbg li a:hover{
    
    border-radius: 8px !important;
}
.Online{
  color: aliceblue !important;
}
.colorbg li a{
margin: 3px;
color: black;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.newi{
    margin-right: 12px;
}
@media screen and (max-width:1250px){
    .media{
        margin-top: 4px;
    }

    .form-control {
        scale: 80% !important;
    }
    .me-2{
        margin-right: 2px !important;
        margin-left: 2px !important;
    }
.nav-link{
    scale: 80% !important;
    justify-content: space-between;
    margin: 0px !important;
}
.btn{
    scale: 80% !important;
}
    .newi{
        margin-right: 0px;
    }
   .custom{
    display: none;
    float: right!important;
    margin-right: 0px !important;
   }
}



@media screen and (max-width:990px){
    .media{
        margin-top: 4px;
    }

    .newi{
        margin-right: 0px;
    }
   .custom{
    display: inline;
    float: right!important;
    margin-right: 0px !important;
   }
}


.Online:hover{
  color:rgb(255, 255, 255)
}

@media screen and (max-width:450px){


 .custom{
  scale: 90% !important;
 }
}

@media screen and (max-width:350px){

 
  .custom{
   scale: 80% !important;
  }
 }
 

