.img{
    max-width: 100vw;
    max-height: 70vh;
    margin: auto;

}

.swap{
    flex-direction: row-reverse;
    transition: opacity 2s ease, transform 2s ease;
    transition-duration: 1s;
    transition-delay: 1s;
}

.centrify{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}

.align-text{
    text-align: center;
    padding: 12px;
}

.back-quotes{
    color: rgb(2, 22, 107);
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 80px;
    border-radius: 12px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
}


.newclass{
    color: rgb(2, 22, 107);
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 60px;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center; 
}

.handle-width{
    width: 100vw;
    max-width: 800px;
    margin-top: 12px;
}


.reviewmanager{
   display: flex;
    justify-content: end;
    padding: 12px;
    font-size: 1.4rem;
    margin-right: 12px;
}

.btnmanager{
    background-color: #6964ff;
    color: aliceblue;
}

.btnmanager:hover{
    background-color: #6964ff !important;
    color: aliceblue !important;
}

.formdataz{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: auto;
    border-radius: 12px !important;
    border: none;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 12%);
    background-color: whitesmoke;
    
}




.alignitemtext{
    text-align: left;
    max-width: 95vw;
    margin: auto;
    padding: 12px;
    font-size: 1.05rem;
    background-color: rgb(20, 4, 186);
    border-radius: 6px;
    color: rgb(255, 255, 255);
}



.students>img{
    width: 95vw;
    height: auto;
    object-fit: cover;
    margin: 12px;
}

.managercnt{
  display: flex;
  align-items: center;
    justify-content: center;
    align-content: center;

}
.disply{
    display: flex;
    margin-right: 0px;
    padding: 5px;
}
.margtin-manager-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }