.formContainer{
display: flex;
align-items: center;
justify-content: center;
position: relative;
top: 100px;
}

body{
  background-color: rgb(220, 243, 245);
  padding: 0px;
  margin: 0px;
  height: 100%;
}


.manager{
  min-height: 80vh;
}

@media screen and (max-width:1000px) {
  .formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    }
}
.formWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.formWrapper>form{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(164, 164, 255);
  padding: 12px;
  border-radius: 12px;
}

.formWrapper>form>input{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  padding: 6px;
  margin: 6px;
  width: 80vw;
  max-width: 650px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
 
}

.formWrapper>form>button{
  border-radius: 12px;
  background-color:rgb(24, 135, 254) !important;
  border: 1px solid rgb(1, 251, 255);
  padding: 10px;
  color: aliceblue;
}

.logo{
  color: rgb(59, 11, 220);
  font-size: 20px;
  font-weight: 500;
}

.navigate{
  color: aliceblue;
}

.title{
  color: aliceblue;
  font-weight: 500;
}
