.padding{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 12px;
    padding-bottom: 12px;
}

.padding>p{
    color: rgb(106, 102, 102);
}

@media screen and (max-width: 900px) {
    .padding{
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
    
