.avatar{
    width: 70vw;
    height: 70vw;
    max-width: 250px;
    max-height: 250px;
    margin:10px ;
    object-fit: cover;
    border-radius: 50%;
  
    border: 2px solid rgb(187, 187, 187);
}